.employeeDetails {
    background-color: #002664;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
    .field {
        width: calc(25% - 30px);
        .fieldLabel {
            color: #fff;
            font-weight: 600;
        }
        .fieldValue {
            color: #fff
        }
    }
}